<div class="card shadow-sm p-4">
  <h2 class="text-center mb-4 heading-black"><%= form_title %></h2>
  <%= form_with model: [@artist, @topic], local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div class="mb-3">
      <%= f.label :title, "トピック名", class: "form-label" %><span class="badge badge-danger ml-3">必須</span>
      <%= f.text_field :title, class: "form-control", rows: 7 %>
    </div>
    <div class="mb-3">
      <%= f.label :body, "説明文", class: "form-label" %><span class="badge badge-danger ml-3">必須</span>
      <%= f.text_area :body, class: "form-control", rows: 7 %>
    </div>
    <div class="mb-3">
      <%= f.label :topic_genre_id, "ジャンル", class: "form-label" %><span class="badge badge-danger ml-3">必須</span>
      <%= f.collection_select :topic_genre_id, TopicGenre.all, :id, :name, { prompt: "ジャンルを選択" }, class: "form-control" %>
    </div>
    <div class="text-center mt-4">
      <%= f.submit submit_label, class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>