
  <div class="tabs">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#section1">作成したアーティスト</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#section2">いいねをつけたアーティスト</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#section3">作成したサークル</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#section4">フォロー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#section5">フォロワー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#section6">参加中のサークル</a>
      </li>
    </ul>

    <!-- タブ1 -->
    <div class="tab-content">
      <div id="section1" class="tab-pane fade show active my-3">
        <% @artists.each do |artist| %>
          <div class="my-2">
            <%= link_to artist_path(artist.id), class: "text-decoration-none" do %>
              <%= image_tag artist.get_image(50, 50), class: "rounded-circle img-fluid" %>
              <span class="ml-2"><%= artist.name %></span>
            <% end %>
          </div>
        <% end %>
        <%= paginate @artists %>
      </div>

      <!-- タブ2 -->
      <div id="section2" class="tab-pane fade my-3">
        <% @favorite.each do |artist| %>
          <div class="my-2">
            <%= link_to artist_path(artist.id), class: "text-decoration-none" do %>
              <%= image_tag artist.get_image(50, 50), class: "rounded-circle img-fluid" %>
              <span class="ml-2"><%= artist.name %></span>
            <% end %>
          </div>
        <% end %>
        <%= paginate @favorite_artists %>
      </div>

      <!-- タブ3 -->
      <div id="section3" class="tab-pane fade my-3">
      <% @groups.each do |group| %>
        <div class="my-2">
          <%= link_to group_path(group.id), class: "text-decoration-none" do %>
            <%= image_tag group.get_image(50, 50), class: "img-fluid" %>
              <span class="ml-2"><%= group.name %></span>
          <% end %>
        </div>
      <% end %>
      <%= paginate @groups %>
      </div>
      
      <!-- タブ4 -->
      <div id="section4" class="tab-pane fade my-3">
        <% if @following_users.present? %>
        <% @following_users.each do |user| %>
          <div class="my-2">
            <%= link_to user_path(user.id), class: "text-decoration-none" do %>
              <%= image_tag user.get_image(50, 50), class: "rounded-circle me-1" %>
              <%= user.name %>
            <% end %>
          </div>
        <% end %>
          <%= paginate @following_users, param_name: :following_page %>
        <% else %>
          <p>フォローしているユーザーはいません</p>
        <% end %>
      </div>
      
      <!-- タブ5 -->
      <div id="section5" class="tab-pane fade my-3">
        <% if @follower_users.present? %>
        <% @follower_users.each do |user| %>
          <div class="my-2">
            <%= link_to user_path(user.id), class: "text-decoration-none" do %>
              <%= image_tag user.get_image(50, 50), class: "rounded-circle me-1" %>
              <%= user.name %>
            <% end %>
          </div>
        <% end %>
          <%= paginate @follower_users, param_name: :follower_page %>
        <% else %>
          <p>フォロワーはいません</p>
        <% end %>
      </div>

      <!-- タブ6 -->
      <div id="section6" class="tab-pane fade my-3">
        <% if @joined_groups.any? %>
          <% @joined_groups.each do |group| %>
            <div class="my-2">
              <%= link_to group_path(group.id), class: "text-decoration-none" do %>
                <%= image_tag group.get_image(50, 50), class: "img-fluid" %>
                <span class="ml-2"><%= group.name %></span>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p>参加中のサークルはありません。</p>
        <% end %>
        <%= paginate @groups %>
      </div>
    </div>
  </div>
