<div class="container-fluid my-5">
  <p class="me-3 heading my-5">タグ: <%= @artist_tag.name %> のアーティスト一覧</p>
  <div class="row">
    <% if @artists.any? %>
      <% @artists.each do |artist| %>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 d-flex justify-content-center">
          <div class="text-center" style="width: 100%; max-width: 220px;">
            <%= link_to artist_path(artist) do %>
              <%= image_tag artist.get_image(200, 200), class: "img-fluid rounded-circle mb-2" %>
            <% end %>
            <h5 class="artist_name text-break" style="min-height: 3em;"><%= truncate(artist.name, length: 30) %></h5>
          </div>
        </div>
      <% end %>
      <div class="d-flex justify-content-center my-4">
        <%= paginate @artists %>
      </div>
    <% else %>
      <p>このタグに紐づくアーティストはいません。</p>
    <% end %>
  </div>
</div>