<% if group_comments.any? %>
  <% group_comments.each_with_index do |comment, index| %>
    <% number = group_comments.total_count - ((group_comments.current_page - 1) * group_comments.limit_value + index) %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex align-items-center mb-2">
          <span class="mr-1"><%= number %>.</span>
            <% if admin_signed_in? %>
              <%= link_to admin_user_path(comment.user), class:"d-flex align-items-center text-dark mr-2" do %>
                <%= image_tag comment.user.get_image(20, 20), class: "rounded-circle mr-1" %>
                <%= comment.user.name %>
              <% end %>
            <% else %>
              <%= link_to user_path(comment.user), class: "d-flex align-items-center text-dark mr-2" do %>
                <%= image_tag comment.user.get_image(20, 20), class: "rounded-circle mr-1" %>
                <%= comment.user.name %>
              <% end %>
              <%= comment.user.badges %>
            <% end %>

          <span class="text-muted ml-2" style="font-size: 0.85em;"><%= comment.created_at.strftime("%Y年%m月%d日(%a) %H時%M分") %></span>
        </div>
        <% if comment.deleted? %>
          <p class="mb-2 text-muted">このコメントは削除されました。</p>
        <% else %>
          <p class="mb-2"><%= comment.body %></p>
          <%= render 'public/shared/dropdown_menu', type: :group_comment, dropdown_id: "group_comment#{comment.id}", group: @group, comment: comment %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="text-muted">まだコメントはありません。</p>
<% end %>