<div class="container-fluid my-5">
    <div class="d-flex align-items-center my-5">
    <div class="me-3 heading">サークル一覧</div>
    <%= link_to "新規作成", new_group_path, class: "btn btn-custom-blue ml-5" %>
  </div>

  <div class="list-group">
    <% @groups.each do |group| %>
      <%= link_to group_path(group), class: "list-group-item list-group-item-action d-flex align-items-center" do %>
        <%= image_tag group.get_image(80, 80), class: "img-thumbnail mr-3" %>
        <div class="flex-grow-1">
          <h5><%= truncate(group.name, length: 100) %></h5>
          <p class="my-1" style="max-width: 1200px;"><%= truncate(group.introduction, length: 130) %></p>
          <div>
            <% group.group_tags.each do |tag| %>
              <span class="badge bg-success mr-1"><%= tag.name %></span>
            <% end %>
          </div>
        </div>
        <small class="text-muted ml-3">作成者: <%= group.owner.name %></small>
      <% end %>
    <% end %>
  </div>
  <div class="d-flex justify-content-center my-4">
    <%= paginate @groups %>
  </div>
</div>

