<div class="container-fluid my-5">
  <h2 class="">サークル一覧</h2>
  <p><%= link_to "新規作成", new_group_path, class: "btn btn-primary mb-3" %></p>
  <div class="row">
    <% @groups.each do |group| %>
      <div class="col-md-3 mb-4 d-flex justify-content-center">
        <div class="card" style="height: 100%; max-width: 280px;">
          <%= link_to group_path(group) do %>
            <%= image_tag group.get_image(280, 180), class: "img-thumbnail card-img-top", style: "object-fit: cover;" %>
          <% end %>
          <div class="card-body">
          <h5 class="card-title" style="overflow: hidden; word-break: break-word;"><%= truncate(group.name, length: 30) %></h5>
            <p class="card-text"><%= truncate(group.introduction, length: 40) %></p>
            <p>作成者：
              <%= link_to user_path(group.owner) do %>
                <%= group.owner.name %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
