<div class="container admin-white-bg p-5">
  <%= link_to "アーティスト一覧に戻る", admin_artists_path, class: "btn return-btn mb-2" %>
  <h4 class="admin-title mb-3">アーティスト名：「 <%= @artist.name %> 」の詳細</h4>
  <div class="row">
    <div class="col-3">
      <%= image_tag @artist.get_image(230, 230) %>
      <%= link_to "アーティスト情報を編集", edit_admin_artist_path(@artist.id), class: "btn btn-primary my-4" %>
    </div>
    <div class="col-md-9">
      <dl class="row">
        <dt class="col-sm-3">アーティスト名</dt>
        <dd class="col-sm-9"><%= @artist.name %></dd>

        <dt class="col-sm-3">紹介文</dt>
        <dd class="col-sm-9"><%= @artist.introduction %></dd>

        <dt class="col-sm-3">タグ</dt>
        <dd class="col-sm-9">
          <% if @artist.artist_tags.any? %>
            <% @artist.artist_tags.each do |tag| %>
              <span class="badge badge-pill badge-success me-1"><%= tag.name %></span>
            <% end %>
          <% else %>
            タグはまだありません
          <% end %>
        </dd>

        <dt class="col-sm-3">登録日</dt>
        <dd class="col-sm-9"><%= @artist.created_at.strftime("%Y-%m-%d") %></dd>

        <dt class="col-sm-3">状態</dt>
        <dd class="col-sm-9"><%= status_label(@artist) %></dd>
      </dl>
    </div>
  </div>

  <hr>

  <h4 class="admin-title">トピック一覧</h4>
  <% if @topics.any? %>
  <table class="table mt-2 admin-table table-borderless">
    <thead>
      <tr>
        <th>トピック名</th>
        <th>作成者</th>
        <th>作成日</th>
        <th>コメント数</th>
        <th>最終コメント</th>
        <th>状態</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td class="text-truncate" style="max-width: 200px;">
            <%= link_to topic.title, admin_artist_topic_path(@artist, topic), class: "d-inline-block text-truncate", style: "max-width: 100%;" %>
          </td>
          <td><%= truncate(topic.user.name, length: 12) %></td>
          <td><%= topic.created_at.strftime("%Y-%m-%d") %></td>
          <td>
            <i class="fa-regular fa-comment"></i>
            <%= topic.comments.count %>
          </td>
          <td>
            <% if topic.comments.any? %>
              <small><%= topic.comments.maximum(:created_at).strftime("%Y年%m月%d日 %H時%M分") %></small>
            <% else %>
              <small>コメントなし</small>
            <% end %>
          </td>
          <td><%= status_label(topic) %></td>
        <td><%= link_to '詳細', edit_admin_artist_topic_path(topic.artist, topic), class: "btn btn-sm btn-info" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <%= paginate @topics %>
  </div>

  <% else %>
    トピックはまだありません
  <% end %>
</div>

