<div class="container admin-white-bg p-5">
  <h4 class="admin-title"><%= @artist.name %> の詳細</h4>
  <div class="user-info mb-3">
    <%= image_tag @artist.get_image(200, 200) %>
    <div><strong>アーティスト名：</strong><%= @artist.name %></div>
    <div><strong>紹介文：</strong><%= @artist.introduction %></div>
    <div><strong>タグ：</strong>
      <% if @artist.artist_tags.any? %>
        <% @artist.artist_tags.each do |tag| %>
          <%= link_to tag.name, artist_tag_path(tag.name), class: "badge badge-pill badge-success me-1" %>
        <% end %>
      <% else %>
        タグはまだありません
      <% end %>
    </div>

    <div><strong>登録日：</strong><%= @artist.created_at.strftime("%Y-%m-%d") %></div>
    <div><strong>状態：</strong><%= @artist.active_status %></div>
    <%= link_to "アーティスト情報を編集", edit_admin_artist_path(@artist.id), class: "btn btn-primary" %>
  </div>

  <hr>

  <h4 class="admin-title">トピック一覧</h4>
  <table class="table mt-2 admin-table table-borderless">
    <thead>
      <tr>
        <th>トピック名</th>
        <th>作成者</th>
        <th>作成日</th>
        <th>コメント数</th>
        <th>最終コメント</th>
        <th>状態</th>
        <th>操作</th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td class="text-truncate" style="max-width: 200px;">
            <%= link_to topic.title, artist_topic_path(@artist, topic), class: "d-inline-block text-truncate", style: "max-width: 100%;" %>
          </td>
          <td><%= truncate(topic.user.name, length: 12) %></td>
          <td><%= topic.created_at.strftime("%Y-%m-%d") %></td>
          <td>
            <i class="fa-regular fa-comment"></i>
            <%= topic.comments.count %>
          </td>
          <td>
            <% if topic.comments.any? %>
              <small><%= topic.comments.maximum(:created_at).strftime("%Y年%m月%d日 %H時%M分") %></small>
            <% else %>
              <small>コメントなし</small>
            <% end %>
          </td>
          <td><%= topic.active_status %></td>
        <td><%= link_to '詳細', edit_admin_artist_topic_path(topic.artist, topic), class: "btn btn-sm btn-info" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">

  </div>
</div>

