<div class="container p-5">
  <%= link_to "アーティストページに戻る", artist_path(@artist) %>
  <%= link_to artist_path(@artist), class: "d-flex align-items-center text-decoration-none" do %>
    <%= image_tag @artist.get_image(40, 40), class: "rounded-circle m-2" %>
    <span class="h5 mb-0 text-dark"><%= @artist.name %></span>
  <% end %>
  
  <div class="card mt-2 mb-4">
    <div class="row">
      <div class="p-3 m-3">
        <h4><%= @topic.title %></h4>
        <p><%= @topic.body %></p>
        <p>
          作成者：
          <%= link_to user_path(@artist.user) do %>
            <%= image_tag @artist.user.get_image(30, 30), class: "rounded-circle me-1" %>
            <%= @artist.user.name %>
          <% end %><br>
          作成日：<%= @artist.created_at.strftime("%Y年%m月%d日(%a) %H時%M分") %>
        </p>
        <p>
          <% if @topic.user == current_user %>
            <p><%= link_to "編集", edit_artist_topic_path(@topic.artist, @topic), class: "btn btn-sm btn-outline-secondary" %></p>
          <% end %>
        </p>
      </div>
    </div>
  </div>

  <!-- コメント部分 -->
  <div class="d-flex justify-content-center my-4">
    <%= paginate @comments %>
  </div>

  <h4 class="mb-3">コメント</h4>
  <% @comments.each_with_index do |comment, index| %>
    <% number = @comments.total_count - ((@comments.current_page - 1) * @comments.limit_value + index) %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex align-items-center mb-2">
          <span class="mr-1"><%= number %>.</span>
          <%= link_to user_path(comment.user) do %>
            <%= image_tag comment.user.get_image(20, 20), class: "rounded-circle me-1" %>
            <%= comment.user.name %>
          <% end %><br>
          <span class="ms-auto text-muted ml-2" style="font-size: 0.85em;"><%= comment.created_at.strftime("%Y年%m月%d日(%a) %H時%M分") %></span>
        </div>
        <% if comment.deleted? %>
          <p class="mb-2 text-muted">このコメントは削除されました。</p>
        <% else %>
          <p class="mb-2"><%= comment.body %></p>
          <% if comment.user == current_user %>
            <%= link_to "削除", artist_topic_comment_path(comment.topic.artist, comment.topic, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-danger" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-center my-4">
    <%= paginate @comments %>
  </div>

  <%= form_with(model: [@artist, @topic, @comment], local: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control", rows: 3 %>
    </div>
    <%= f.submit "コメントする", class: "btn btn-primary" %>
  <% end %>
</div>


