<div class="container p-5">
  <%= link_to "アーティストページに戻る", artist_path(@artist), class: "btn return-btn-a mb-2" %>
  <%= link_to artist_path(@artist), class: "d-flex align-items-center text-decoration-none" do %>
    <%= image_tag @artist.get_image(40, 40), class: "rounded-circle m-2" %>
    <span class="h5 mb-0 text-white"><%= @artist.name %></span>
  <% end %>
  
  <div class="card mt-2 mb-4">
    <div class="row">
      <div class="p-3 m-3">
        <h4><%= @topic.title %></h4>
        <p><%= @topic.body %></p>
        <p>
          作成者：
          <%= link_to user_path(@topic.user) do %>
            <%= image_tag @topic.user.get_image(30, 30), class: "rounded-circle me-1" %>
            <%= @topic.user.name %>
          <% end %><br>
          作成日：<%= @artist.created_at.strftime("%Y年%m月%d日(%a) %H時%M分") %>
        </p>

        <% if current_user && !current_user.guest? %>
          <%= render 'public/shared/dropdown_menu', type: :topic, topic: @topic, dropdown_id: "topic_dropdown" %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- コメント部分 -->
  <div class="d-flex justify-content-center my-4">
    <%= paginate @comments %>
  </div>

  <h4 class="mb-3">コメント</h4>
  <% @comments.each_with_index do |comment, index| %>
    <% number = @comments.total_count - ((@comments.current_page - 1) * @comments.limit_value + index) %>
    <div class="card mb-3">
      <div class="card-body">
        <div class="d-flex align-items-center mb-2">
          <span class="mr-1"><%= number %>.</span>
            <% if comment.user.guest? %>
             <%= comment.user.name %>
            <% elsif admin_signed_in? %>
              <%= link_to admin_user_path(comment.user) do %>
                <%= image_tag comment.user.get_image(20, 20), class: "rounded-circle me-1" %>
                <%= comment.user.name %>
              <% end %>
            <% else %>
              <%= link_to user_path(comment.user) do %>
                <%= image_tag comment.user.get_image(20, 20), class: "rounded-circle me-1" %>
                <%= comment.user.name %>
              <% end %>
            <% end %>
            <br>
          <span class="ms-auto text-muted ml-2" style="font-size: 0.85em;"><%= comment.created_at.strftime("%Y年%m月%d日(%a) %H時%M分") %></span>
        </div>
        <% if comment.deleted? %>
          <p class="mb-2 text-muted">このコメントは削除されました。</p>
        <% else %>
          <p class="mb-2"><%= comment.body %></p>

          <% if (current_user.present? || admin_signed_in?) %>
            <%= render 'public/shared/dropdown_menu', type: :topic_comment, dropdown_id: "topic_comment#{comment.id}", comment: comment %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-center my-4">
    <%= paginate @comments %>
  </div>


  <!-- コメントフォーム -->
  <div class="card p-3 mt-4">
    <h5 class="mb-3">コメントする</h5>
    <%= form_with(model: [@artist, @topic, @comment], local: true) do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control", rows: 3 %>
      </div>
      <%= f.submit "コメントする", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


