<div class="container admin-white-bg p-5">
  <h4 class="admin-title">通報詳細</h4>
  <%= render "icon_guide" %>

  <dl class="row mt-5">
    <dt class="col-sm-3">通報No.</dt>
    <dd class="col-sm-8"><%= @report.id %></dd>

    <dt class="col-sm-3">通報者</dt>
    <dd class="col-sm-9"><%= @report.user.name %></dd>

    <dt class="col-sm-3">通報内容</dt>
    <dd class="col-sm-9">
      <% if @report.reportable.present? %>
        <%= reportable_link(@report) %>
      <% else %>
        通報対象が存在しません
      <% end %>
    </dd>

    <% if number = comment_number_for(@report) %>
      <dt class="col-sm-3">コメントNo.</dt>
      <dd class="col-sm-9">No.<%= number %></dd>
    <% end %>

    <dt class="col-sm-3">通報項目</dt>
    <dd class="col-sm-9"><%= @report.reason_category_i18n %></dd>

    <dt class="col-sm-3">通報理由</dt>
    <dd class="col-sm-9"><%= @report.reason %></dd>

    <dt class="col-sm-3">通報日時</dt>
    <dd class="col-sm-9"><%= l(@report.created_at, format: :long) %></dd>

  </dl>
  <div class="mt-4">
    <%= link_to "一覧に戻る", admin_reports_path, class: "btn btn-secondary" %>
  </div>
</div>
