<div class="container-fluid">
  <% if admin_signed_in? %>
    <%= link_to "サークルページへ戻る", admin_group_path(@group), class: "btn return-btn-a mb-2" %>
  <% else %>
    <%= link_to "サークルページへ戻る", group_path(@group), class: "btn return-btn-a mb-2" %>
  <% end %>
  <div class= "row">
    <div class= "col-3 mypage-info">
      <h5>参加メンバー一覧</h5>
      <% if @group.members.any? %>
        (メンバー数：<%= @group.members.count %>人)
        <div style="max-height: 500px; overflow-y: auto;">
          <table class="table table-bordered my-4">
          <thead class="thead-light border-bottom">
            <tr>
              <th style="width: 20%">ユーザー名</th>
            </tr>
          </thead>
          <tbody>
            <% @group.members.each do |member| %>
              <tr>
                <td class="border-0 align-middle">
                  <% if admin_signed_in?%>
                    <%= link_to admin_user_path(member), class: "d-flex align-items-center text-decoration-none text-dark"  do %>
                      <%= image_tag member.get_image(40, 40), class: "rounded-circle img-fluid" %>
                      <span class="ml-2"><%= truncate(member.name, length: 15) %></span>
                    <% end %>
                  <% else %>
                    <%= link_to user_path(member), class: "d-flex align-items-center text-decoration-none text-dark"  do %>
                      <%= image_tag member.get_image(40, 40), class: "rounded-circle img-fluid" %>
                      <span class="ml-2"><%= truncate(member.name, length: 15) %></span>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <% else %>
        <span class="text-muted">現在メンバーはいません。</span>
      <% end %>
    </div>

    <div class= "col-8 chat-container">
      <div class="messages mt-2">
        <% @chat_messages.each do |chat_messages| %>
          <div class="user-message">
            <% if chat_messages.user == current_user %>
              <strong><%= chat_messages.user.name %></strong>
            <% else %>
              <%= chat_messages.user.name %>
            <% end %>
            (<%= chat_messages.created_at.strftime("%m/%d %H:%M") %>)
            <%= truncate(chat_messages.body, length: 20) %>
          </div>
        <% end %>
      </div>

      <div class="input-area">
        <% if admin_signed_in? %>
          <div class="mb-2 text-muted">管理者はコメントできません</div>
        <% else %>
          <%= form_with(model: [@group, @chat_message], local: true) do |f| %>
            <%= f.text_field :body, placeholder: "メッセージを入力...", autocomplete: "off" %>
            <%= f.submit "送信" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>