<div class="container admin-white-bg p-5">
  <h4 class="admin-title">サークル一覧</h4>

  <%= render partial: "admin/shared/icon_guide", locals: { context: :group } %>

  <table class="table mt-5 admin-table table-borderless">
    <thead>
      <tr>
        <th style="width: 10%;">ID</th>
        <th>名前</th>
        <th style="width: 10%;"><i class="fa-solid fa-user"></i></th>
        <th style="width: 10%;"><i class="fa-solid fa-comment"></i></th>
        <th style="width: 15%;">ステータス</th>
        <th style="width: 10%;"></th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
        <td><%= group.id %></td>
        <td><%= truncate(group.name, length: 15) %></td>
        <td><%= group.members.count %></td>
        <td><%= group.group_comments.count %></td>
        <td><%= status_label(group) %></td>
        <td><%= link_to '詳細', admin_group_path(group), class: "btn btn-sm btn-info" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
 
  <div class="d-flex justify-content-center">
    <%= paginate @groups %>
  </div>
</div>