<div class="container admin-white-bg p-5">
  <h4 class="admin-title">サークル一覧</h4>
  <table class="table mt-5 admin-table table-borderless">
    <thead>
      <tr>
        <th style="width: 10%;">ID</th>
        <th style="width: 20%;">名前</th>
        <th style="width: 25%;">参加人数</th>
        <th style="width: 20%;">ステータス</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
        <td><%= group.id %></td>
        <td><%= truncate(group.name, length: 12) %></td>
        <td><%= group.members.count %></td>
        <td><%= group.active_status %></td>
        <td><%= link_to '詳細', admin_group_path(group), class: "btn btn-sm btn-info" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
 
  <div class="d-flex justify-content-center">
    <%= paginate @groups %>
  </div>
</div>