<div class="container admin-white-bg p-5">
  <%= link_to "ユーザー一覧に戻る", admin_users_path, class: "btn return-btn mb-2" %>
  <h4 class="admin-title mb-3">ユーザー名：「 <%= @user.name %> 」さんの詳細情報</h4>
  <div class="row">
    <div class="col-3">
      <%= image_tag @user.get_image(230, 230) %>
      <%= link_to "ユーザー情報を編集", edit_admin_user_path(@user.id), class: "btn btn-primary my-4" %>
    </div>
    <div class="col-md-9">
      <dl class="row">
        <dt class="col-sm-3">ニックネーム</dt>
        <dd class="col-sm-9">
          <%= @user.name %>
          <span class="ml-2"><%= @user.badges %></span>
        </dd>

        <dt class="col-sm-3">紹介文</dt>
        <dd class="col-sm-9"><%= @user.introduction %></dd>

        <dt class="col-sm-3">好み</dt>
        <dd class="col-sm-9"><%= @user.my_taste %></dd>

        <dt class="col-sm-3">性別</dt>
        <dd class="col-sm-9"><%= @user.gender %></dd>

        <dt class="col-sm-3">年齢</dt>
        <dd class="col-sm-9"><%= @user.age %></dd>

        <dt class="col-sm-3">メールアドレス</dt>
        <dd class="col-sm-9"><%= @user.email %></dd>

        <dt class="col-sm-3">登録日</dt>
        <dd class="col-sm-9"><%= @user.created_at.strftime("%Y-%m-%d") %></dd>

        <dt class="col-sm-3">状態</dt>
        <dd class="col-sm-9"><%= status_label(@user) %></dd>
        </dl>
        </div>
      </div>
  
  <hr>

  <h5 class="my-3">作成したアーティスト</h5>
  <div class="scroll-box">
    <% if @artists.any? %>
      <% @artists.each do |artist| %>
        <div class="m-2">
          <%= link_to admin_artist_path(artist.id), class: "text-decoration-none mr-3" do %>
            <%= image_tag artist.get_image(25, 25), class: "rounded-circle img-fluid" %>
            <span class="ml-1"><%= artist.name %></span>
          <% end %>
          <%= link_to "編集", edit_admin_artist_path(artist), class: "btn btn-sm btn-outline-primary ms-2" %>
        </div>
      <% end %>
    <% else %>
      <p>作成したアーティストはありません。</p>
    <% end %>
  </div>

  <h5 class="my-3">作成したトピック</h5>
  <div class="scroll-box">
    <% if @topics.any? %>
      <% @topics.each do |topic| %>
        <div class="m-2">
          <%= link_to topic.title, admin_artist_topic_path(topic.artist, topic) %>
          （<%= link_to topic.artist.name, admin_artist_path(topic.artist) %>）
          <%= link_to "編集", edit_admin_artist_topic_path(topic.artist, topic), class: "btn btn-sm btn-outline-primary ms-2" %>
        </div>
      <% end %>
    <% else %>
      <p>投稿したトピックはありません。</p>
    <% end %>
  </div>

  <h5 class="my-3">投稿したコメント</h5>
  <span>コメント内容（アーティスト名：トピック名）</span>
  <div class="scroll-box">
    <% if @comments.any? %>
      <% @comments.each do |comment| %>
        <div class="m-2">
          <%= truncate(comment.body, length: 50) %>
          （<%= comment.topic.artist.name %>：
          <%= link_to comment.topic.title, admin_artist_topic_path(comment.topic.artist, comment.topic) %>）
        </div>
      <% end %>
    <% else %>
      <p>投稿したコメントはありません。</p>
    <% end %>
  </div>

  <h5 class="my-3">作成したサークル</h5>
  <div class="scroll-box">
    <% if @groups.any? %>
        <% @groups.each do |group| %>
          <div class="m-2">
            <%= link_to admin_group_path(group.id), class: "text-decoration-none" do %>
              <%= image_tag group.get_image(25, 25), class: "img-fluid" %>
              <span class="ml-2"><%= group.name %></span>
            <% end %>
          </div>
        <% end %>
    <% else %>
      <p>作成したサークルはありません。</p>
    <% end %>
  </div>


  <h5 class="my-3">参加しているサークル</h5>
  <div class="scroll-box">
    <% if @joined_groups.any? %>
        <% @joined_groups.each do |group| %>
          <div class="m-2">
            <%= link_to admin_group_path(group.id), class: "text-decoration-none" do %>
              <%= image_tag group.get_image(25, 25), class: "img-fluid" %>
              <span class="ml-2"><%= group.name %></span>
            <% end %>
          </div>
        <% end %>
    <% else %>
      <p>参加中のサークルはありません。</p>
    <% end %>
  </div>
</div>