<div class="container d-flex justify-content-center my-4">
  <div class="w-100" style="max-width: 600px;">
    <div class="card shadow-sm p-4">
      <div class="text-center mb-4 heading-black">ユーザー情報編集</div>
      <%= form_with model: @user, url: user_path(@user), method: :patch, local: true, html: { multipart: true } do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        <div class="mb-3">
          <%= f.label :name, "ユーザー名", class: "form-label" %><span class="badge badge-danger ml-3">必須</span>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :introduction, "紹介文", class: "form-label" %>
          <%= f.text_area :introduction, class: "form-control", rows: 7 %>
        </div>
        <div class="mb-3">
          <%= f.label :gender, "性別", class: "form-label" %>
          <%= f.select :gender, ["男性", "女性", "その他", "未回答"], { prompt: "選択してください" }, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :age, "年代", class: "form-label" %>
          <%= f.select :age, ["10代以下", "20代", "30代", "40代", "50代", "60代以上"], { prompt: "選択してください" }, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :my_taste, "好み(アーティストやジャンルなど)" %>
          <%= f.text_area :my_taste, class: "form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :image, "画像", class: "form-label" %>
          <div class="custom-file">
            <%= f.file_field :image, class: "custom-file-input", id: "user_image", accept: "image/*" %>
            <%= f.label :image, "画像を選択", class: "custom-file-label", for: "user_image" %>
          </div>
        </div>
        <div class="text-center mt-4">
          <%= f.submit "保存", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
    <div class="text-center mt-4">
      <%= link_to "保存せずマイページに戻る", users_mypage_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>