<h2 class= "mt-5">マイページ</h2>

<h3>登録情報</h3>

<div class= "conteiner">
<div class= "row">
<div class= "col-4">
<table class= "customer_info mb3">
  <thead>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <tr>
      <td>ニックネーム</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>性別</td>
     <td><%= @user.gender %></td>
    </tr>
    <tr>
      <td>年齢</td>
      <td><%= @user.age %></td>
    </tr>
    <tr>
      <td>紹介文</td>
      <td><%= @user.introduction %></td>
    </tr>
    <tr>
      <td>フォロワー数</td>
      <td>〇〇</td>
    </tr>
  </tbody>
</table>
</div>

<div class= "col-4">
  <%= link_to "編集する", edit_user_path(@user), class: "btn btn-success ml2" %>
  <div><%= link_to "アーティストページ新規作成", new_artist_path, class: "btn btn-success ml2" %></div>
  <div>コミュニティ作成リンク</div>
</div>
<div class= "col-4">
フォローしたユーザーがいいねをつけたアーティストを表示
自分がいいねをつけたものは除く
</div>

<div class= "row">
たぶ
</div>



</div>