<header class="custom-header bg-dark text-white py-5">
<div class="container">
  <div class="header-content d-flex justify-content-end align-items-center">
    <ul class="nav">
      <% if admin_signed_in? %>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>
          <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
        </li>
      <% elsif user_signed_in? %>
        <li><%= link_to 'アーティスト一覧', artists_path %></li>
        <li>2</li>
        <li>3</li>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>1</li>
        <li>
          <%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li>
          <%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
</header>