<div class="sidebar d-flex flex-column" style="min-height: 100vh;">
  <div class="fa-solid"><%= link_to 'Slan Colony', (admin_signed_in? ? admin_top_path : root_path ), class: "logo" %></div>
    <ul>
      <% if admin_signed_in? %>
        <h5 class="mt-3">INDEX</h5>
        <ul class="pl-3 mt-2 mb-4">
          <li><%= link_to '通報', admin_reports_path %></li>
          <li><%= link_to 'ユーザー', admin_users_path %></li>
          <li><%= link_to 'アーティスト', admin_artists_path %></li>
          <li><%= link_to 'サークル', admin_groups_path %></li>
        </ul>
        <ul>
          <li><%= link_to 'ジャンル作成', admin_genres_path %></li>
          <li>
            <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
          </li>
        </ul>
      <% elsif user_signed_in? %>
        <li><%= link_to 'アーティスト', artists_path %></li>
        <li><%= link_to 'サークル', groups_path %></li>
        <li><%= link_to 'アバウト', homes_about_path %></li>
        <% if current_user && !current_user.guest? %>
          <li><%= link_to "マイページ", users_mypage_path %></li>
        <% end %>
        <li>
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li><%= link_to 'アーティスト', artists_path %></li>
        <li><%= link_to 'サークル', groups_path %></li>
        <li><%= link_to 'アバウト', homes_about_path %></li>
        <li>
          <%= link_to '新規登録', new_user_registration_path %>
        </li>
        <li>
          <%= link_to 'ログイン', new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</div>