<!DOCTYPE html>
<html>
  <head>
    <title>StanColony</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/2fbf5c023b.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Monomaniac+One&family=Noto+Sans+JP:wght@100..900&family=Yusei+Magic&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <!-- メインエリア全体 -->
    <div class="main-area">
      <%= render 'layouts/sidebar' %>
      <div class="main-content flex-grow-1">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
