<!DOCTYPE html>
<html>
  <head>
    <title>StanColony</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/2fbf5c023b.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
         <%= render 'layouts/header' %>
        </div>
        <div class="col-md-10">
          <%= yield %>
        </div>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
